.app{
  background: #121212;
  color: white;
}

.App-home{
  height: 100vh;
  background-color: #121212;
}

.hide{
  display: none;
}

.build{
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
}

.item{
  position: relative;
  width: 75px;
  margin-right: 2px;
}

.item img{
  height: 75px;
  width: 75px;
}

.item p{
color: white;
  margin: 0;
  text-align: center;
  overflow-wrap: break-word;
  text-align: center;
}

.item-bracket{
  height: 100px;
    border-right: white 2px solid;
    width: 5px;
    margin-right: 2px;
}

.home-btns {
  background-color: #242424;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #080808;
}

.home-btns h3{
  width: 100%;
    height: 100%;
    text-align: center;
  border-right: #121212 2px solid;
  margin: 0;
  padding: 1rem;
}

.current{
  background: #25117c!important;
}

.item-break{
  display: flex;
    align-items: center;
    justify-content: center;
}